.btn {
    width: 250px;
    height: 250px;
    padding: 10px 10px;
    margin: 0px 10px;
}

.score{
    margin: 30px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
    
}
#rockBtn {
    background-color: red;
}
#paperBtn {
    background-color: blue;
}
#scissorsBtn {
    background-color: green;
}